{% extends "employee/layout.html" %}

{% block title %}
Profile
{% endblock %}

{% block style %}
.card-img-top{
  height : 200px;
}

{% endblock %}

{% block content %}
<div class="card mt-3">
  <img src="https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTEyL3Jhd3BpeGVsX29mZmljZV8zMV9hX21pbmltYWxfYW5kX3NpbXBsZV9ncmVlbl9mYWRlZF9iYWNrZ3JvdW5nX18yOWQyNzc1MS1iNWRlLTQ3Y2MtOWU5Mi00Mzc1NjZhYmY5NzJfMS5qcGc.jpg" class="card-img-top" alt="...">
  <div class="d-flex align-items-center">
    <ul class="list-group list-group-flush">
      <li class="list-group-item text-primary">Role: @{{employee.role}}</li>
      <li class="list-group-item">Name: {{employee.first_name | upper}} {{employee.last_name | upper}}</li>
      <li class="list-group-item">Employee ID: {{employee.employee_id}} </li>
      <li class="list-group-item">Mobile: {{employee.mobile}} </li>
      <li class="list-group-item">Email: {{employee.email}} </li>
    </ul>
  </div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#employeeprofileedit">
      EDIT
    </button>

    <!-- Modal -->
    <div class="modal fade" id="employeeprofileedit" tabindex="-1" aria-labelledby="employeeprofileeditLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="employeeprofileeditLabel">Edit Profile</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="" method='POST'>
              {% csrf_token %}
              <label for="firstname">First Name:</label>
              <input type="text" class="form-control" value="{{employee.first_name}}" name="first_name">
              <label for="lastname">Last Name:</label>
              <input type="text" class="form-control" value="{{employee.last_name}}" name="last_name">
              <label for="email">Email:</label>
              <input type="email" class="form-control" value="{{employee.email}}" name="email" disabled>
              <label for="mobile">Mobile:</label>
              <input type="text" class="form-control" value="{{employee.mobile}}" name="mobile">
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
