{% extends 'employee/layout.html' %}

{% block title %}
Batch-View
{% endblock %}

{% block content %}
        <table class="table table-dark my-3">
            <thead>
                <th>Batch name</th>
                <th>Start/End date</th>
                <th>Students</th>
                <th>Action</th>
            </thead>
        </table>
    {% for batch in batches %}
        <div class="row border mx-auto rounded my-2 p-3">
            <div class="col-lg-3 col-md-3 p-3 text-break" style="background-color: rgb(234, 234, 234);">
                {{batch.batch_name}}
            </div>
            <div class="col-lg-3 col-md-3 p-3 text-break">
                <p>{{batch.start_date}}/<br>{{batch.end_date}}</p>
            </div>
            <div class="col-lg-4 col-md-4 p-3 text-break">
                {% for student in students %}
                {% if batch.batch_id ==  student.batch_id.batch_id %}
                <li style="list-style-type:decimal-leading-zero;">{{student.student_id.first_name}} {{student.student_id.last_name}}</li>
                {% endif %}
                {% endfor %}
            </div>
            <div class="col-lg-2 col-md-2">
                {% comment %} {% url "batch_action_view" batch_id=batch.batch_id %} {% endcomment %}
                <a href="{% url "batch_action_view" batch_id=batch.batch_id %}"><i class="bi bi-ticket-detailed fs-3"></i></a>
            </div>
        </div>
    {% endfor %}
{% endblock %}