{% extends 'employee/layout.html' %}

{% block title %}
Batch-View
{% endblock %}

{% block content %}

    <table class="table table-bordered my-3">
        <thead class="table-secondary">
            <th>Batch name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Add Global Note</th>
        </thead>
        <tbody>
        <tr >
            <td>{{ batch }}</td>
            <td>{{ batch.start_date }}</td>
            <td>{{ batch.end_date }}</td>
            <td>
                    <!-- Button trigger modal for add global note -->
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addglobalnote">
                    Add Global Note
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="col-lg-4 col-md-4 p-3 text-break">      
        {% for student in students %}
            <li style="list-style-type:decimal-leading-zero;">{{student.student_id}}</li>
        {% endfor %}
    </div>

    <!-- Modal for add global note-->
    <div class="modal fade" id="addglobalnote" tabindex="-1" aria-labelledby="addglobalnoteLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="addglobalnoteLabel">Add Global Note</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            ...
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        </div>
    </div>
{% endblock %}