{% extends 'employee/layout.html' %}

{% block title %}
Batch-Action-View
{% endblock %}

{% block content %}
<div class="container mt-4">
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>Batch name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Students</th>
        <th>Global Note</th>
      </tr>
    </thead>
    <tbody>
    {% for student in students %}
    <tr>
        <td>{{ batch.batch_name }}</td>
        <td>{{ batch.start_date }}</td>
        <td>{{ batch.end_date }}</td>
        <td>{{student.student_id.first_name|capfirst}} {{student.student_id.last_name|capfirst}}</td>
        <td>
          {% if student.student_id_id in notes %}
            {% for student_id,comment in notes.items %}
              {% if student_id == student.student_id_id %}
                <span class="text-primary fw-bold">{{comment}}</span>
              {% endif %}
            {% endfor %}
          {% else %}
            <span class="text-danger">No notes available</span>
          {% endif %}
        </td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
