{% extends 'employee/layout.html' %}

{% block title %}
MyBatch
{% endblock %}

{% block content %}
<div class="container my-3">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Batch name</th>
                <th scope="col">Start/End date</th>
                <th scope="col">Students</th>
                <th scope="col">Global Note</th>
            </tr>
        </thead>
    </table>
    
    <div class="row border mx-auto rounded my-2 p-3">
        <div class="col-lg-3 col-md-3 p-3 text-break bg-light">
            {{batch}}
        </div>
        <div class="col-lg-3 col-md-3 p-3 text-break">
            <p>{{batch.start_date}} / {{batch.end_date}}</p>
        </div>
        <div class="col-lg-4 col-md-4 p-3 text-break">
            <ul class="list-unstyled">
                {% for student in students %}
                <ul type="square">
                    <li>{{student.student_id.first_name |capfirst}} {{student.student_id.last_name | capfirst}} ({{student.student_id_id}})</li>
                </ul>
                {% endfor %}
            </ul>
        </div>
        <!-- Button trigger modal for add global note -->
        <div class="col-lg-2 col-md-2">
            <a href="" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Global Note</a>
        </div>

        <!-- Modal for add global note -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Global Notes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url "add_global_note" %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <label for="studnetid">Student Id : </label>
                        <select name="student_id" id="studnetid" class="form-select">
                            <option value="">select student</option>
                            {% for student in students %}
                                <option value="{{student.student_id_id}}">{{student.student_id}}</option>
                            {% endfor %}
                        </select>
                        <label for="comment">Comment : </label>
                        <textarea name="comment" id="comment" class="form-control" rows="5"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add Note</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
    <p class="text-primary fw-bold">Global Notes:</p>
    <table class="table table-striped table-hover">
        <thead class="bg-dark text-white">
            <tr>
                <th scope="col">Student ID</th>
                <th scope="col">Date</th>
                <th scope="col">Note</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% if batch_notes|length != 0  %}
                {% for note in batch_notes %}
                <tr>
                    <td>{{note.student_id}}</td>
                    <td>{{note.created_at}}</td>
                    <form action="{% url "update_global_note" %}" method="post">
                        {% csrf_token %}
                        <td>
                            <input type="hidden" name="note_id" id="" value="{{note.id}}">
                            <input type="text" name="comment" id="" value="{{note.comment}}">
                        </td>
                        <td>
                            <button type="submit" class="btn btn-info"><i class="bi bi-pencil-square"></i></button> 
                                <a href="{% url "delete_global_note" note_id=note.id %}" class="btn btn-danger">
                                    <i class="bi bi-trash3"></i>
                                </a>
                        </td>
                    </form>
                </tr>
                {% endfor %}
            {% else %}
                <td colspan="4" class="text-center text-danger fw-bold">Note Not Found</td>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
