{% extends 'employee/layout.html' %}

{% block title %}
Batch-Action-View
{% endblock %}

{% block content %}
<div class="container mt-4">
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>Batch name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Students</th>
        <th>Global Note</th>
      </tr>
    </thead>
    <tbody>
    <tr>
        <td rowspan="{{ students|length }}">{{ batch.batch_name }}</td>
        <td rowspan="{{ students|length }}">{{ batch.start_date }}</td>
        <td rowspan="{{ students|length }}">{{ batch.end_date }}</td>
        <td>
        <ul>
            {% for student in students %}
                {% if batch.batch_id == student.batch_id.batch_id %}
                    <li>{{ student.student_id.first_name }} {{ student.student_id.last_name }}</li>
                {% endif %}
            {% endfor %}
        </ul>
        </td>
        <td rowspan="{{ students|length }}">Note</td>
    </tr>
    </tbody>
  </table>
</div>
{% endblock %}
