{% extends "employee/layout.html" %}

{% block title %}
Change Password
{% endblock %}

{% block content %}
<br>
<div class="container d-flex justify-content-center">
    <div class="col-md-6">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="mb-3">
                <label for="old-password" class="form-label">Old Password</label>
                <input type="text" id="old-password" name="old_password" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password1" class="form-label">New Password</label>
                <input type="password" id="password1" name="new_password" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label">Confirm Password</label>
                <input type="password" id="password2" name="confirm_password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

{% endblock %}