{% extends "society/layout.html" %}

{% block title %}
Change Password
{% endblock %}

{% block content %}
<form class="card p-2 m-2" method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="oldpassword" class="form-label">Old Password</label>
      <input type="text" class="form-control" name="o_password">
    </div>
    <div class="mb-3">
      <label for="newpassword" class="form-label">New Password</label>
      <input type="password" class="form-control" name="n_password">
    </div>
    <div class="mb-3">
      <label for="confirmpassword" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" name="c_password">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
{% endblock %}