{% extends "society/login.html" %}

{% block title %}
Forget Password
{% endblock %}

{% block content %}
<form action="{% url "forget_password" %}" method="POST" class="col-6 mx-auto mt-5 card p-3">
    {% csrf_token %}
    <h3>Forgot Password</h3>
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" name="email" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
{% endblock %}