{% extends "society/layout.html" %}

{% block title %}
Visitors
{% endblock %}


{% block content %}

{% if request.COOKIES.role == 'watchman' %}
<!-- Button trigger modal for visitor -->
<button type="button" class="btn btn-dark mt-3" data-bs-toggle="modal" data-bs-target="#addvisitors">
  ADD VISITOR
</button>

<!-- Modal for visitors -->
<div class="modal fade" id="addvisitors" tabindex="-1" aria-labelledby="addvisitorsLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addvisitorsLabel">Visitors List</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" method='POST'>
          {% csrf_token %}
          {{form.as_p}}
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">CLOSE</button>
            <button type="submit" class="btn btn-success">ADD</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
<table class="table table-bordered mt-3">
    <thead class="table-secondary">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Name</th>
        <th scope="col">Contact</th>
        <th scope="col">Entry Time</th>
        <th scope="col">Exit Time</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
      </tr>
    </thead>
    <tbody>
        {% for visitor in visitors %}
      <tr>
        <th>{{visitor.entry_time|date:"d-m-y"}}</th>
        <th>{{visitor.first_name}} {{visitor.last_name}}</th>
        <td>{{visitor.contact}}</td>
        <td>{{visitor.entry_time|date:"H:i:s"}}</td>
        <td>{{visitor.exit_time|date:"H:i:s" }}</td>
        <td>{{visitor.address}}</td>
        <td>{{visitor.city}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}